# dependencies
node_modules/

# cache
.cache/
node_modules/.cache/

# environment
.env
.env.local
.env.*.local
.venv/

# build folders
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
